%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "_side_bar.html.haml", :rel => "stylesheet"}/
  %body
    .wrapper
      .sidebar
        .leftheader
          .grouplist
